# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
*.db

# Virtual env
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# Uploads (sons, images...)
backend/uploads/

# Env
.env

# FastAPI cache / compiled
*.egg-info/
dist/
build/

# Frontend (React)
frontend/node_modules/
frontend/dist/
frontend/.vite/

# OS crap
.DS_Store
Thumbs.db

# Misc
*.bak
*.swp
